*{
    padding: 0;
     margin: 0;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

nav{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 74px;
    z-index: 999;
}
nav .logo{
    margin: 31px 60px;
}
nav .logo a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    margin: 15px 108px;
    list-style: none;
}
nav ul li{
    padding-left: 34px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px 11px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-weight: 400;

}
nav ul li a:hover,nav ul li a.active
{
    background: cyan;
    color: #333;
}
nav .menubtn i{
    color: #fff;
    margin-right: 50px;
    font-size: 30px;
    display: none;
}
#click{
    display:none;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image:url('https://www.fifteendesign.co.uk/wp-content/uploads/2016/10/becoming-a-web-developer-in-2016.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width:940px){
    body{
        width: 100%;
      
    }
    #click:checked ~ .menubtn i::before{
        content: "\f00d";
    }
    nav{
        height: auto;
    }
    nav ul{
        position: fixed;
        top: 100px;
        display: block;
        right:-100%;
        background: rgb(255, 0, 212);
        margin: auto;
        width: 100%;
        height: 100vh;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
right: 0%;
    }
    nav ul li{
        padding-top: 40px;
        text-align: center;
    }
nav ul li a{
    font-size: 20px;
    display: block;
}
nav ul li a:hover,
nav ul li a.active
{
    background:none;
    color:cyan;
}
nav .menubtn i{
  display: block;
}

}
